.u-section-1 .u-sheet-1 {
  min-height: 116px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: auto;
  margin: 20px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 1295px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: -237px auto 0;
}

.u-section-2 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 60px;
  transform-origin: right center 0px;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 142px;
  margin: 20px 0 60px auto;
}

.u-section-2 .u-image-2 {
  width: 301px;
  height: 450px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-3 {
  width: 301px;
  height: 354px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1396px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 354px;
    width: 301px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-bottom: 29px;
  }
}